/***************************Tag selectors***************************/

body {
    background-color: #cac9eb;
}

hr {
    /* Best practice: put everything in alphabetical order */
    border-color: violet;            
    border-style: dotted none none;
    border-width: 5px;
    width: 50%;
}

h1 {
    color: blueviolet;
}

h3 {
    color: blueviolet;
}

img:hover {
    background-color: skyblue;
}

/***************************Class selectors***************************/
.logo {
    width: 100px;
    margin-left: 50px;
}

/* Class selector and ID selector have higher priority than tag selector
can have multiple classes but only 1 ID */

/***************************ID selectors***************************/
#profilePic {
    border-radius: 100%;
    margin-right: 50px;
}