/***************************Tag selectors***************************/
body {
    background-color: #e1e5ea;
    /*text-align: center;*/
}

hr {
    /* Best practice: put everything in alphabetical order */
    border-color: gray;            
    border-style: dotted none none;
    border-width: 5px;
}

h1 {
    color: #94d0cc;
    margin-top: 0;
    font-family: 'Dancing Script', cursive;
    font-size: 5.625rem; /* 100% =16px = 1em */
}

h2 {
    color: #66BFBF;
    font-family: 'Itim', cursive;
}

h3 {
    color: #11999E;
}

p {
    font-family: 'Itim', cursive;
}

/***************************Class selectors***************************/

.firstLayer {
    /*background-color: #eabf9f;*/
    text-align: center;
    position: relative;
    padding-top: 100px;
}

.lastLayer {
    text-align: center;
}

.logo {
    width: 70px;
    /* display: inline-block; would work the same */
    position: relative;
    bottom: 90px;
}

.middleLayer {
    text-align: center;
    padding-top: 300px;
}

.skillIcon {
    width: 200px;
}

.topCloud {
    position: absolute;
    right: 25%;
    top: 30px;
}

.topCloud:hover {
    background-color: sandybrown;
}

.bottomCloud {
    position: absolute;
    left: 25%;
    bottom: 350px;
}

.ocean {
    padding-top: 200px;
}

/* Class selector and ID selector have higher priority than tag selector
can have multiple classes but only 1 ID */

/***************************ID selectors***************************/

#profilePic {
    border-radius: 100%;
    margin: 25px;
}