/***************************Tag selectors***************************/

body {
    background-color: #cac9eb;
}

hr {
    /* Best practice: put everything in alphabetical order */
    border-color: violet;            
    border-style: dotted none none;
    border-width: 5px;
    width: 50%;
}

h1 {
    color: blueviolet;
}

h3 {
    color: blueviolet;
}

/***************************Class selectors***************************/
.logo {
    align-items: center;
}